In [2]:
%load_ext autoreload
%autoreload 2
from context import *

In [13]:
fn = r"C:\Users\sinen\Documents\dataanalysis\data\raw\carcteristiques-2021.csv"
df = pd.read_csv(fn, sep=";", decimal=',')

In [14]:
df

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,44.038958,4.348022
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,49.242129,4.554546
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,46.921950,-0.964460
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,48.949363,2.519664
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,49.408380,1.145810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,1,2021,06:10,3,33,33021,1,1,5,6,NaN,44.526619,-0.195544
56514,202100056515,1,1,2021,10:20,1,38,38405,1,1,2,6,D520,45.380291,5.704914
56515,202100056516,1,1,2021,18:00,3,26,26064,1,1,2,1,Route départementale 538,44.911210,5.019636
56516,202100056517,1,1,2021,10:55,1,33,33003,1,2,1,6,Voie rapide Bassens Ambes,44.954275,-0.517921
56517,202100056518,2,1,2021,18:00,3,78,78423,1,1,3,1,VOLTA (AVENUE),48.796670,2.050500

In [15]:
df.dtypes

Num_Acc      int64
jour         int64
mois         int64
an           int64
hrmn        object
lum          int64
dep         object
com         object
agg          int64
int          int64
atm          int64
col          int64
adr         object
lat        float64
long       float64
dtype: object

In [6]:
df.loc[1]

Num_Acc                                        202100000002
jour                                                     25
mois                                                      9
an                                                     2021
hrmn                                                  14:20
lum                                                       1
dep                                                      51
com                                                   51544
agg                                                       1
int                                                       3
atm                                                       1
col                                                       3
adr        Aire de repos croisement D20E9 après sortie D977
lat                                           49,2421290000
long                                           4,5545460000
Name: 1, dtype: object

In [3]:
fn = r"C:\Users\sinen\Documents\dataanalysis\data\interim\carcteristiques-2021.parquet"
df = pd.read_parquet(fn)

In [4]:
df

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,44.038958,4.348022
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,49.242129,4.554546
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,46.921950,-0.964460
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,48.949363,2.519664
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,49.408380,1.145810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,1,2021,06:10,3,33,33021,1,1,5,6,None,44.526619,-0.195544
56514,202100056515,1,1,2021,10:20,1,38,38405,1,1,2,6,D520,45.380291,5.704914
56515,202100056516,1,1,2021,18:00,3,26,26064,1,1,2,1,Route départementale 538,44.911210,5.019636
56516,202100056517,1,1,2021,10:55,1,33,33003,1,2,1,6,Voie rapide Bassens Ambes,44.954275,-0.517921
56517,202100056518,2,1,2021,18:00,3,78,78423,1,1,3,1,VOLTA (AVENUE),48.796670,2.050500

In [5]:
df.dtypes

Num_Acc      int64
jour         int64
mois         int64
an           int64
hrmn        object
lum          int64
dep         object
com         object
agg          int64
int          int64
atm          int64
col          int64
adr         object
lat        float64
long       float64
dtype: object